In [62]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

## Pandas Series

In [63]:
import pandas as pd
import numpy as np

In [64]:
labels = ['a','b','c','d']
myList = [1,2,3,4]
myDict = {1:'a', 2:'b',3:'c'}

In [65]:
pd.Series(data = myList)

0    1
1    2
2    3
3    4
dtype: int64

In [66]:
ser = pd.Series(data = myList, index = labels)
ser

a    1
b    2
c    3
d    4
dtype: int64

In [67]:
ser1 = pd.Series(data = myDict)

In [68]:
ser1

1    a
2    b
3    c
dtype: object

In [69]:
ser[3]

4

In [70]:
ser['d']

4

## Pandas Dataframe

In [71]:
pd.DataFrame(data = np.random.randn(5,4))

          0         1         2         3
0  0.559784 -0.042292  1.016982 -0.510726
1  0.457868 -0.242719 -0.193409 -0.395964
2  0.884575  0.008824 -0.810962  0.272440
3 -1.630559 -0.567980 -1.586945 -0.093631
4 -0.534377  0.902381  0.943422  0.658283

In [72]:
pd.DataFrame(data = np.random.randn(5,4), index= ['a','b','c','d','e'])

          0         1         2         3
a  2.563134  0.174268 -2.308535  0.174803
b  0.805200  0.397294 -0.009526  0.258008
c -1.355350 -0.951465  0.281673 -0.988033
d  0.728742  1.055778  0.495934  0.760907
e -0.663729 -0.154591  0.893091  0.646867

In [73]:
df = pd.DataFrame(data = np.random.randn(5,4), index = ['a','b','c','d','e'], columns = ['w','x','y','z'])
df

          w         x         y         z
a -1.149433 -0.579872  0.714182  0.021036
b  0.996051  0.464903 -1.162290 -0.709432
c -0.350402 -1.692784  2.948995  0.643770
d  0.575408  0.339569 -0.898347  0.422245
e -0.587331 -0.170723  1.539771 -0.234590

In [74]:
df['w']

a   -1.149433
b    0.996051
c   -0.350402
d    0.575408
e   -0.587331
Name: w, dtype: float64

In [75]:
df['y']

a    0.714182
b   -1.162290
c    2.948995
d   -0.898347
e    1.539771
Name: y, dtype: float64

In [76]:
df[['w','z']]

          w         z
a -1.149433  0.021036
b  0.996051 -0.709432
c -0.350402  0.643770
d  0.575408  0.422245
e -0.587331 -0.234590

In [77]:
df['new_column'] = df['w'] + df['z']

In [78]:
df

          w         x         y         z  new_column
a -1.149433 -0.579872  0.714182  0.021036   -1.128398
b  0.996051  0.464903 -1.162290 -0.709432    0.286619
c -0.350402 -1.692784  2.948995  0.643770    0.293367
d  0.575408  0.339569 -0.898347  0.422245    0.997653
e -0.587331 -0.170723  1.539771 -0.234590   -0.821921

In [79]:
df['new_column'] = [1,2,3,4,5]

In [80]:
df

          w         x         y         z  new_column
a -1.149433 -0.579872  0.714182  0.021036           1
b  0.996051  0.464903 -1.162290 -0.709432           2
c -0.350402 -1.692784  2.948995  0.643770           3
d  0.575408  0.339569 -0.898347  0.422245           4
e -0.587331 -0.170723  1.539771 -0.234590           5

In [81]:
df.shape

(5, 5)

In [82]:
df.drop('new_column', axis=1)

          w         x         y         z
a -1.149433 -0.579872  0.714182  0.021036
b  0.996051  0.464903 -1.162290 -0.709432
c -0.350402 -1.692784  2.948995  0.643770
d  0.575408  0.339569 -0.898347  0.422245
e -0.587331 -0.170723  1.539771 -0.234590

In [83]:
df

          w         x         y         z  new_column
a -1.149433 -0.579872  0.714182  0.021036           1
b  0.996051  0.464903 -1.162290 -0.709432           2
c -0.350402 -1.692784  2.948995  0.643770           3
d  0.575408  0.339569 -0.898347  0.422245           4
e -0.587331 -0.170723  1.539771 -0.234590           5

In [84]:
df.drop('new_column', axis =1, inplace = True)

In [85]:
df

          w         x         y         z
a -1.149433 -0.579872  0.714182  0.021036
b  0.996051  0.464903 -1.162290 -0.709432
c -0.350402 -1.692784  2.948995  0.643770
d  0.575408  0.339569 -0.898347  0.422245
e -0.587331 -0.170723  1.539771 -0.234590

In [86]:
df.loc['a']

w   -1.149433
x   -0.579872
y    0.714182
z    0.021036
Name: a, dtype: float64

In [87]:
df.iloc[0]

w   -1.149433
x   -0.579872
y    0.714182
z    0.021036
Name: a, dtype: float64

In [88]:
df.loc['d']

w    0.575408
x    0.339569
y   -0.898347
z    0.422245
Name: d, dtype: float64

In [89]:
df.loc[['a','b'], ['w','z']]

          w         z
a -1.149433  0.021036
b  0.996051 -0.709432

In [90]:
df['w']>0

a    False
b     True
c    False
d     True
e    False
Name: w, dtype: bool

In [91]:
df[df['w']>0]

          w         x         y         z
b  0.996051  0.464903 -1.162290 -0.709432
d  0.575408  0.339569 -0.898347  0.422245

In [92]:
df[df['w']>0]['x']

b    0.464903
d    0.339569
Name: x, dtype: float64

In [93]:
df['new'] = ['A','B','C','D','E']

In [94]:
df

          w         x         y         z new
a -1.149433 -0.579872  0.714182  0.021036   A
b  0.996051  0.464903 -1.162290 -0.709432   B
c -0.350402 -1.692784  2.948995  0.643770   C
d  0.575408  0.339569 -0.898347  0.422245   D
e -0.587331 -0.170723  1.539771 -0.234590   E

In [95]:
df.set_index('new')

            w         x         y         z
new
A   -1.149433 -0.579872  0.714182  0.021036
B    0.996051  0.464903 -1.162290 -0.709432
C   -0.350402 -1.692784  2.948995  0.643770
D    0.575408  0.339569 -0.898347  0.422245
E   -0.587331 -0.170723  1.539771 -0.234590

In [96]:
df

          w         x         y         z new
a -1.149433 -0.579872  0.714182  0.021036   A
b  0.996051  0.464903 -1.162290 -0.709432   B
c -0.350402 -1.692784  2.948995  0.643770   C
d  0.575408  0.339569 -0.898347  0.422245   D
e -0.587331 -0.170723  1.539771 -0.234590   E

In [97]:
df.set_index('new', inplace = True)

In [98]:
df

            w         x         y         z
new
A   -1.149433 -0.579872  0.714182  0.021036
B    0.996051  0.464903 -1.162290 -0.709432
C   -0.350402 -1.692784  2.948995  0.643770
D    0.575408  0.339569 -0.898347  0.422245
E   -0.587331 -0.170723  1.539771 -0.234590